
/* VAR */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root{
    --linearGradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%); 
    --red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightViolet: hsl(270, 3%, 87%);
    --darkViolet: hsl(279, 6%, 55%);
    --VDarkViolet: hsl(278, 68%, 11%);
}


body{
    font-size: 18px; 
    font-family: 'Space Grotesk', sans-serif; 
}
.principal-container{
    max-height: 100vh;
}
/* Cartes */

.container-card{
    background: no-repeat url("./images/bg-main-mobile.png");
    height: 50vh;    
}
#recto{
    width: 80%;
    margin-left: 65px;
    margin-top: 35px;
  }
#verso{
    width: 80%;
    position: relative;
    top: -75px;
    left: 15px;
    box-shadow: 14px 32px 26px 3px lightgray;
}

/* Formulaire */
label{
    color: var(--VDarkViolet);
    text-transform: uppercase;
}
input{
    appearance: textfield;
}
#btn{
    font-size: 18px;
    color: var(--white);
    background-color: var(--VDarkViolet);
    width: 95%;
    text-align: center;
    border: none;
    border-radius: 6px;
    margin-top: 25px;
    padding: 15px 80px;
}
.MMYYCVC{
    display: flex;
    flex-direction: row;
}

.main-container{
    padding-left: 5%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    text-align: left;
}


.form-div {
    padding:10px 0;
}

#card-number,#card-name{
    margin-top: 8px;
    padding: 10px 140px 10px 20px;
    border-radius: 8px;
    border: 2px solid var(--lightViolet);
}

#card-cvc{
    margin-top: 8px;
    padding: 10px 0;
    border-radius: 8px;
    border: 2px solid var(--lightViolet);
}
#card-name:focus{
    outline:  none;
    box-shadow: none;
    border: 2px solid var(--VDarkViolet);
}